appdirs==1.4.4
attrs==22.1.0
autocommand==2.2.2
btrfsutil==6.0.2
cffi==1.15.1
contourpy==1.0.6
cryptography==38.0.4
cycler==0.11.0
Cython==0.29.32
distro==1.8.0
fonttools==4.38.0
inflect==6.0.2
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
kiwisolver==1.4.4
lensfun==0.3.3
matplotlib==3.6.2
more-itertools==9.0.0
netsnmp-python==1.0a1
numpy==1.24.0
ordered-set==4.1.0
packaging==21.3
Pillow==9.3.0
ply==3.11
pycparser==2.21
pydantic==1.10.2
PyGObject==3.42.2
pyparsing==3.0.9
python-dateutil==2.8.2
six==1.16.0
team==1.0
tomli==2.0.1
trove-classifiers==2022.12.1
typing_extensions==4.4.0
validate-pyproject==0.10.1
